@font-face {
  font-family: 'DIN Pro Cond';
  src: local('DIN Pro Condensed Bold Italic'), local('DINPro-CondensedBoldItalic'),
      url('../fonts/DINPro-CondensedBoldItalic.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: local('DIN Pro Condensed Black Italic'), local('DINPro-CondensedBlackItalic'),
      url('../fonts/DINPro-CondensedBlackItalic.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedBlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
      url('../fonts/DINPro-CondensedBold.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: local('DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
      url('../fonts/DINPro-CondensedMedium.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: local('DIN Pro Condensed Light Italic'), local('DINPro-CondensedLightItalic'),
      url('../fonts/DINPro-CondensedLightItalic.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: local('DIN Pro Condensed Medium Italic'), local('DINPro-CondensedMediumItalic'),
      url('../fonts/DINPro-CondensedMediumItalic.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedMediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: local('DIN Pro Condensed Light'), local('DINPro-CondensedLight'),
      url('../fonts/DINPro-CondensedLight.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: local('DIN Pro Condensed Italic'), local('DINPro-CondensedItalic'),
      url('../fonts/DINPro-CondensedItalic.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Italic'), local('DINPro-Italic'),
      url('../fonts/DINPro-Italic.woff2') format('woff2'),
      url('../fonts/DINPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Light Italic'), local('DINPro-LightItalic'),
      url('../fonts/DINPro-LightItalic.woff2') format('woff2'),
      url('../fonts/DINPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Medium Italic'), local('DINPro-MediumItalic'),
      url('../fonts/DINPro-MediumItalic.woff2') format('woff2'),
      url('../fonts/DINPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Light'), local('DINPro-Light'),
      url('../fonts/DINPro-Light.woff2') format('woff2'),
      url('../fonts/DINPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Medium'), local('DINPro-Medium'),
      url('../fonts/DINPro-Medium.woff2') format('woff2'),
      url('../fonts/DINPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: local('DIN Pro Condensed Black'), local('DINPro-CondensedBlack'),
      url('../fonts/DINPro-CondensedBlack.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Bold Italic'), local('DINPro-BoldItalic'),
      url('../fonts/DINPro-BoldItalic.woff2') format('woff2'),
      url('../fonts/DINPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro'), local('DINPro'),
      url('../fonts/DINPro.woff2') format('woff2'),
      url('../fonts/DINPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: local('DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
      url('../fonts/DINPro-CondensedRegular.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Black Italic'), local('DINPro-BlackItalic'),
      url('../fonts/DINPro-BlackItalic.woff2') format('woff2'),
      url('../fonts/DINPro-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Black'), local('DINPro-Black'),
      url('../fonts/DINPro-Black.woff2') format('woff2'),
      url('../fonts/DINPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Bold'), local('DINPro-Bold'),
      url('../fonts/DINPro-Bold.woff2') format('woff2'),
      url('../fonts/DINPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HeatherScript';
  src: url('/fonts/HeatherScript-Regular.woff2') format('woff2'),
      url('/fonts/HeatherScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'almeira';
  src: url('/fonts/almeira.woff2') format('woff2'),
      url('/fonts/almeira.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
