<div class="banner-frases">
  <div>
    <p>Agência parceira oficial Telesíntese e PontoISP</p>
  </div>
  <div>
    <p>Receba novidades</p>
  </div>
  <div>
    <a href="telecom.html">
      <p>Marketing para Telecom</p>
    </a>
  </div>
  <div>
    <p>Nossos serviços</p>
  </div>
  <div>
    <p>Siga a gente nas redes sociais</p>
  </div>
  <div>
    <p>Solução completa ou serviços individuais</p>
  </div>
  <div>
    <p>Agência especializada em Telecom parceira<img class="icon-rd" src="images/rd-station-cor.svg"></p>
  </div>
</div>
