<footer class="bg-light" id="footer">
  <div class="grid-row clear">
    <div class="footer">
      <div id="copyright">
        Todos os direitos reservados <span><a target="_blank" class="rodape" style="text-decoration: none"
            href="https://www.instagram.com/agenciauhaau/">Agência Uaauge<i  style="font-size: 10px;" class="far fa-registered"></i></a></span>
        2021-Direitos Reservados
      </div>
      <a target="_blank" href="index.html" class="footer-logo"><img src="assets/images/sorriso-uaauge.png" alt="" /></a>
      <div class="social">
        <a target="_blank" href="https://www.instagram.com/agenciauhaau/">
          <div class="contact-round"><i class="fab fa-instagram"></i></div>
        </a>
        <a target="_blank" href="https://www.facebook.com/agenciauhaau">
          <div class="contact-round"><i class="fab fa-facebook"></i></div>
        </a>
        <a target="_blank" href="https://www.linkedin.com/company/agência-uhaau-/">
          <div class="contact-round"><i class="fab fa-linkedin"></i></div>
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCWIL6qct8NPfEKOYAgdhF-A">
          <div class="contact-round"><i class="fab fa-youtube"></i></div>
        </a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=5531984394001&text=Quero%20ser%20Uhaau">
          <div class="contact-round"><i class="fab fa-whatsapp"></i></div>
        </a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=5531984991265">
          <div class="contact-round"><i class="fas fa-rss"></i></div>
        </a>
        <a class="navbar__item" href="#faq">
          <div class="contact-round"><i class="fas fa-question"></i></div>
        </a>
      </div>
    </div>
  </div>
</footer>
